footer {
  background-color: $black;
  color: $white;
  height: $footer-height;
  @include footer;
  font-family: $font-Montserrat;
  text-align: center;
  padding: 66px 0 29px;

  p {
    margin-top: 29px;
    font-size: 24px;
    font-weight: 500;
  }
}
