header {
  @include header-flex;
  height: 68px;
  margin: 45px 0;
  padding: 0 20px;
  @media only screen and (max-width: $mobile-width) {
    margin: 20px $margin-border 19px;
    padding: 0;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    max-width: $max-desktop-width;
    min-width: $min-mobile-width;
    width: 100%;
    margin: 0 auto;
  }

  img {
    height: $header-desktop-logo;
    @media only screen and (max-width: $mobile-width) {
      width: 145px;
      height: 47px;
    }
  }

  nav {
    margin: 17px 0;
  }

  nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;

    li {
      margin-left: 57px;
      font-family: $font-Montserrat;
      font-size: $header-desktop-li;
      color: $red-salmon;
      list-style: none;
      cursor: pointer;
      font-weight: 500;
      &:hover {
        text-decoration: underline;
      }
      @media only screen and (max-width: $mobile-width) {
        font-size: 12px;
        margin-left: 26px;
        text-transform: uppercase;
      }
    }
  }
}
