main {
  height: 100%;
  margin: 0 $margin-border;

  .banner {
    @include center;
    position: relative;
    max-width: $max-desktop-width;
    min-width: $min-mobile-width;
    background: black;
    margin: 0 auto;
    height: 223px;
    min-height: 111px;
    border-radius: 25px;
    margin-bottom: 38px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border-radius: 25px;
      background-color: black;
      opacity: 0.3;
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 25px;
    }

    p {
      text-align: center;
      position: absolute;
      font-family: $font-Montserrat;
      color: $white;
      font-size: 48px;
      font-weight: 500;
    }
  }
}

.colapses-container {
  max-width: $max-desktop-width;
  margin: 0 auto;
}
