@font-face {
  font-family: 'Montserrat';
  src: url(/src/style/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

// colors for backgrounds and fonts
$black: #000;
$white: #ffffff;
$grey: #f6f6f6;
$red-salmon: #ff6060;

// font-style
$font-Montserrat: Montserrat, sans-serif;

// size for logo
$header-desktop-logo: 68px;
$header-mobile-logo: 47px;
$header-desktop-li: 24px;
$header-mobile-li: 12px;
$footer-logo: 40px;
$footer-height: 209px;

// margins
$margin-border: 19px;

// whidth
$max-desktop-width: 1240px;
$min-mobile-width: 335px;
$width-collapse: 582px;
$width-tag: 85px;

// mobile width
$mobile-width: 564px;

// mixins
@mixin header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 36px;
  font-family: $font-Montserrat;
  color: $red-salmon;
  font-weight: 500;
  @media only screen and (max-width: $mobile-width) {
    font-size: 18px;
  }
}

h2 {
  font-size: 18px;
  font-family: $font-Montserrat;
  color: $red-salmon;
  font-weight: 500;
  @media only screen and (max-width: $mobile-width) {
    font-size: 12px;
  }
}

h3 {
  font-size: 18px;
  font-family: $font-Montserrat;
  color: $white;
  font-weight: 500;
}

li {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

a {
  text-decoration: none;
}

ul {
  margin: 0;

  padding: 0;
}

li {
  list-style: none;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

#Logo {
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: $max-desktop-width;
  gap: 50px;
  margin: 43px auto 50px;
  background: #f6f6f6;
  padding: 56px 0;
  background-color: $grey;
  border-radius: 25px;

  @media only screen and (max-width: $mobile-width) {
    background: $white;
    padding: 0;
    margin: 0;
    margin-bottom: 27px;
    gap: 20px;
  }

  .card-logement {
    cursor: pointer;
    position: relative;
    width: 340px;
    height: 340px;
    border-radius: 10px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
      border-radius: 10px;
      transition: opacity 325ms;
    }
    &:hover:before {
      opacity: 0.5;
    }

    img {
      height: 100%;
      width: 100%;
      border-radius: 10px;
    }

    span {
      position: relative;
      display: block;
      width: 300px;
      left: 20px;
      bottom: 20%;
      font-size: 18px;
      font-family: $font-Montserrat;
      color: $white;
      font-weight: 500;
    }
  }
}

.tags {
  min-height: 25px;
}
.tag {
  @include center;
  min-height: 25px;
  text-align: center;
  font-family: $font-Montserrat;
  font-size: 14px;
  font-weight: 500;
  color: $white;
  background-color: $red-salmon;
  border-radius: 10px;
  min-width: $width-tag;
  padding: 0 15px;
  @media only screen and (max-width: $mobile-width) {
    min-width: 84px;
    min-height: 18px;
    font-size: 10px;
    padding-top: 2px;
  }
}

.colapse-nav {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  @media only screen and (max-width: $mobile-width) {
    margin-bottom: 20px;
  }

  .details-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $red-salmon;
    padding: 10px 20px;
    border-radius: 5px;

    @media only screen and (max-width: $mobile-width) {
      padding: 0 10px;
      font-size: 13px;
      height: 30px;
    }

    h3 {
      margin: 0;
      @media only screen and (max-width: $mobile-width) {
        font-size: 13px;
      }
    }

    img {
      transition: rotate 370ms;
      cursor: pointer;

      @media only screen and (max-width: $mobile-width) {
        height: 24px;
        width: 24px;
      }
    }

    .bottom-arrow {
      rotate: (-0.5turn);
    }
  }

  .text {
    border-radius: 0 0 10px 10px;
    color: $red-salmon;
    font-family: $font-Montserrat;
    background-color: $grey;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding-right: 28px;
    padding-left: 20px;
    overflow: hidden;
    z-index: -99;
    height: 100%;

    @media only screen and (max-width: $mobile-width) {
      font-size: 12px;
    }
  }

  .hide {
    color: transparent;
    max-height: 0;
    transition: max-height 100ms ease-in;
  }
  .display {
    max-height: 1000px;
    transition: max-height 500ms ease-in;
    flex-grow: 1;
  }
}
